<ion-header>
  <ion-navbar>
    <ion-title>My Repo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sync()">
        <ion-icon *ngIf="!isSync" name="sync"></ion-icon>
        <ion-spinner *ngIf="isSync"></ion-spinner>
      </button>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="_searchValue"
                 [animated]="true" [placeholder]="'Search ...'" [autocomplete]="'on'" [formControl]="_searchControl"
                 (ionInput)="setFilteredItems()">
  </ion-searchbar>
  <div *ngIf="gettingData" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list no-lines>
    <ion-item *ngIf="!contacts || contacts.length < 1">There is no DATA here !</ion-item>
    <ion-item-sliding *ngFor="let c of contacts ">
      <ion-item (click)="selectItem(c)">
        <h2>{{c._name}} {{c._fname}}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only="" color="info" (click)="updateItem(c)">
          <ion-icon name="hammer"></ion-icon>
        </button>
        <button ion-button icon-only color="danger" (click)="deleteItem(c)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
